
/* Header/Form Container Styling */
#search-form {
    /* Center the form horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    
    padding: 24px 8px;
    
    /* Stick the header to the top */
    position: sticky; 
    top: 0;
    z-index: 100;
}

/* Input Field Styling */
#search-form input[type="text"] {
    /* Set input dimensions */
    width: 272px;
    max-height: 40px;
    
    /* Basic styling */
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    outline: none; 
}

#search-form input[type="text"]:hover {
    border-color: #000000;
}

#search-form input[type="text"]:focus {
    border-color: #4E75FF;
}



/* Search Button Styling */
#search-btn{
    height: 40px; 
    
    padding: 8px 16px;
    background-color: #4E75FF;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-btn:hover {
    background-color: #6C8CFF;
}

/* Styling for the hidden loader text/spinner */
.loader {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 500;
    color: black;
    z-index: 1000;

    display: none; 
}

.is-hidden {
    display: none;
}









/* Gallery Container Styling */
.gallery {
    list-style: none; 
    padding: 24px;
    margin: 0 auto;
    
    
    max-width: 1200px; 
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px; 
}

/* Individual Gallery Item Styling */
.gallery-item {
    background-color: white;
    border-radius: 4px;
    overflow: hidden; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.02); 
}

/* Anchor tag for SimpleLightbox */
.gallery-link {
    text-decoration: none;
    display: block; 
    height: 100%; 
}


.gallery-image {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    display: block;
}

.info-box {
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    border-top: 1px solid #f0f0f0;
    text-align: center;
}

.info-item {
    margin: 0; 
    font-size: 14px;
    color: #404040;
}

.info-item b {
    display: block;
    font-weight: 700;
    font-size: 12px;
    color: #1c1c1c;
    margin-bottom: 2px;
}